@font-face {
    font-family: 'Formular';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Formular-Bold/Formular Bold.ttf');
}

@font-face {
    font-family: 'Formular';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Formular-Bold/Formular Bold.ttf');
}